html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  box-sizing: border-box;
  height: 66px;
  background-color: #07569A;
  color: white;
  display: flex;
  justify-content: space-between;
}
.logo {
  margin-left: 120px;
  padding: 10px 0px;
}
.logo img {
  width: 130px;
  height: 46px;
}

.basket-space {
  margin-right: 120px;
  display: flex;
  flex-direction: row;
}
.basket-space img {
  width: 33.8px;
  height: 33.3px;
  padding: 14px 12px 18px 20px;
}
.basket-space .texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.basket-space .total-price {
  font-size: 20px;
  line-height: 24px;
}
.basket-space .total-items {
  font-size: 14px;
  line-height: 20px;
}

.content-wrapper {
  padding: 0px 120px;
}
.content {
  min-width: 900px;
  max-width: 1440px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
}
.content .menu {
  background-color: #E5E4E5;
  width: 234px;
}
.menu ul {
  padding: 0px 20px;
}
.menu li {
  list-style: none;
  cursor: pointer;
  padding: 10px 0px;
}
.menu li:hover {
  border-bottom: black solid 1px;
}

.nav-menu > ul {
  display: flex;
  margin: 0px;
  padding: 0px;
}
.nav-menu > ul li {
  list-style: none;
  padding: 20px 10px;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 300;
  padding: 0px 30px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 30%;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 340px;
}



.footer {
  order: 2;
  padding: 16px 0px;
}
.footer span {
  margin-left: 120px;

}